*
{
    font-family: serif;
}

body
{
    background-color: rgb(22, 0, 22);
}

.calc-body
{
    display: flex;
    flex-direction:column;
    justify-self: center;
    margin: 0 auto;
    width: 40%;
    background-color: rgb(235, 216, 238);
}

#calc-display, .calc-row
{
    width: 60%;
    margin:0 auto;
    justify-content: center;
}

#calc-display
{
    display:flex;
    flex-direction: column;
    background-color: rgb(98, 46, 105);
    align-content: center;
    width: 80%;

}

#inputBox, #outputBox
{
    padding: 0.25rem 1rem;
    font-size: 1.75rem;
    margin: 0.25rem 1rem;
    text-align: right;
    border: none;
    background-color: rgb(245, 236, 245);
    border-radius: 0.75rem;
}

.calc-row
{
    display: flex;
    flex-direction:row;
}

.btn-1, .btn-2
{
    min-width: 3.25rem;
    width: 3.25rem;
    height: 3.25rem;
    font-size:2.25rem;
    margin: 0.15rem;
    transition: background-color 0.3s;
    border-radius: 0.75rem;
}

#del
{
    font-size: 1.25rem;
}

.btn-1
{
    background-color:indigo;
    color:aliceblue;
}

.btn-1:hover
{
    background-color: rgb(129, 92, 156);
}

.btn-2
{
    background-color:hsl(275, 100%, 5%);
    color:aliceblue;
}

.btn-2:hover
{
    background-color:rgb(66, 31, 66);

    color:aliceblue;
}